<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <title>Registration Form</title>
</head>
<body>
  <div id="formclass">
  <h2>Registration Form</h2>
  <form action="#" th:action="@{/reg}" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>
    <label for="repass">Re-enter Password:</label><br>
    <input type="password" id="repass" name="repass" required><br><br>
    <br>
    <input type="submit" value="Register"  id="register" class="btn"><br>
  </form>
</div>
</body>
</html>